* {
    box-sizing: border-box;
}
body {
    background-color: #eee;
    font-family: Arial, Tahoma;
}
.page_head,
.page_description {
    text-align: center;
}
.page_head {
    font-size: 40px;
    margin: 20px 0 0;
}
.page_description {
    font-size: 30px;
    margin: 10px 0 40px;
}